{% extends "news/home.html" %}

{% block content %}

      <ul id="linkeg">
            <li id='l' onclick="get_headlines(this)">Angela Merkel</li>
            <li id='l' onclick="get_headlines(this)">Donald Trump</li>
            <li id='l' onclick="get_headlines(this)">Ivanka</li>
            <li id='l' onclick="get_headlines(this)">Bill Gates</li>
            <li id='l' onclick="get_headlines(this)">Brad Pitt</li>
            <li id='l' onclick="get_headlines(this)">Christopher Nolan</li>
            <li id='l' onclick="get_headlines(this)">Christian Bale</li>
            <li id='l' onclick="get_headlines(this)">Megan Fox</li>
            <li id='l' onclick="get_headlines(this)">Steve Jobs</li>
            <li id='l' onclick="get_headlines(this)">Hillary Clinton</li>
            <li id='l' onclick="get_headlines(this)">Gerhard Weikum</li>
      </ul>

{% endblock %}    

      